<!DOCTYPE html>
<html>

<head>
  <title>School Cafeteria Mad Libs!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container text-center">
    <h1>School Cafeteria Mad Libs!</h1>
    <h5>Our school cafeteria has really <span class="text-danger">@Model.Adjective1</span> food. Just thinking about it
      makes my stomach <span class="text-danger">@Model.Verb1</span>. The spaghetti is <span
        class="text-danger">@Model.Adjective2</span> and tastes like <span class="text-danger">@Model.Noun1</span>. One
      day, I swear one of my meatballs started to <span class="text-danger">@Model.Verb2</span>! The turkey tacos are
      totally <span class="text-danger">@Model.Adjective3</span> and look kind of like old <span
        class="text-danger">@Model.Noun2</span>. My friend Dana actually likes the meatloaf, even though it's <span
        class="text-danger">@Model.Adjective4</span> and <span class="text-danger">@Model.Adjective5</span>. I call it
      "mystery meatloaf" and think it's really made out of <span class="text-danger">@Model.Noun3</span>. My dad said
      he'd make my lunches, but the first day, he made me a sandwich out of <span
        class="text-danger">@Model.Noun4</span> and peanut butter! I'd rather take my chances with the cafeteria!</h5>
  </div>
</body>

</html>